.container {
  &__top {
    @extend %flex-center;
    flex-direction: column;

    &_img {
      width: 122px;
      height: 82px;
    }

    &__title {
      margin: {
        top: 79px;
        bottom: 24px;
      }

      @include breakpoint(tablet) {
        margin-top: 40px;
      }
    }
  }

  &__forgot {
    width: 100%;
    &_text {
      @extend %flex-justify-center;
      color: #5b708f;
      font-weight: 700;
      margin: 20px 0 30px;

      @include breakpoint(tablet) {
        margin: {
          top: 40px;
          bottom: 40px;
        }
      }
    }
  }

  &__account {
    @extend %flex-align;
    flex-direction: column;
    border-top: 1px solid #e5e5e5;
    margin-top: 76px;

    &_reg {
      color: $gray_scale_55;
      margin-top: 22px;
    }

    &_sign {
      color: #5b708f;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
