// Main Colors
$white: #ffffff;
$black: #000000;
$main: #048f92;
$main_dark: #2c343a;
$main_light: #2c343a;

// Secondary Colors
$secondary_blue: #2c343a;
$secondary_yellow: #ffbb36;

// Button Colors
$button_default: #3ec8c9;
$button_hover: #3ec8c9;
$button_pressed: #0b97a0;

// System Colors
$success: #189268;
$success_bg: #c7f0d3;
$error: #d63842;
$error_bg: #fdedf0;

// Gray Scale Colors
$gray_scale_12: #1a1b1e;
$gray_scale_55: #84878d;
$gray_scale_77: #bec0c4;
$gray_scale_92: #e4e6eb;
$gray_scale_97: #f5f7fa;
