.container {
  &__top {
    @extend %flex-center;
    flex-direction: column;
    margin-bottom: 20px;

    &_img {
      width: 122px;
      height: 82px;
    }

    &__step {
      color: $gray_scale_55;
      margin-bottom: 24px;
    }

    &__title {
      margin: {
        top: 79px;
        bottom: 2px;
      }

      @include breakpoint(tablet) {
        margin-top: 40px;
      }
    }
  }

  &__back {
    display: flex;
    justify-content: center;

    &__button {
      margin-top: 20px;
    }
  }
}
